body {
  background-color: gainsboro;
}

hr {
  background-color: gainsboro;
  border-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 7%;
  opacity: 0.7;
}

.btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  transition: 0.7s;
  cursor: pointer;
}

.btn:hover {
  background-color: indigo;
  color: white;
}
